body {
	font-family: "Fira Code",Arial, Helvetica, sans-serif;
}


body,h1,h2,h3 {
	margin: 0;
}

button {
	border: none;
	font-family:inherit ;
}

/*  
section {
    display: flex;
    flex-direction: row;
    height: 800px;
    background-image: url("/assets/img/photo.png");
    background-repeat: no-repeat;
    background-size:cover;
}

*/