header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #37767A;
    border-bottom: 10px solid #000;
    padding:10px 20px;

}

h1{
    display: inline-flex;
    text-shadow: 5px 5px 0px black;
    color: #D4C6C6;
    font-family: "Press Start 2P", sans-serif;
    font-size: 30px;
}


nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: #D4C6C6;
    font-size: 20px;
    font-family: "Fira Code",sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before{
    content: "";
    display: inline-block;
    background-color:#9E1616;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

a:hover {
    color: #FFF;
}

#button {
    display: inline-block;
    background-color: #9E1616;
    padding:18px 20px;
    box-shadow: 5px 5px 0px #000000;
    margin-right: 0;
    transition: transforme 100ms linear, opacity 200ms ease-in-out;
}

#button::before {
    content: "";
    display: none;
}

#button:hover {
    transform: scale(1.08);
    opacity: 0.8;
}

