.main-button {
    display: inline-flex;
    background-color: #9E1616;
    padding:18px 20px;
    box-shadow: 5px 5px 0px #000000;
    margin-right: 0;
    transition: transform 100ms linear, opacity 200ms ease-in-out;
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
}

.main-button::before {
    content: "";
    display: none;
}

.main-button:hover {
    transform: scale(1.08);
    opacity: 0.8;
}